In [1]:
pets = []
pets_1 = {
    'species': 'dog',
    'owner': 'jen',
    'name_pet': 'chiko',
}
pets.append(pets_1)
pets_2 = {
    'species': 'cat',
    'owner': 'sarah',
    'name_pet': 'lucifer',
}
pets.append(pets_2)
pets_3 = {
    'species': 'rabbit',
    'owner': 'jen',
    'name_pet': 'bunny',
    
}
pets.append(pets_3)

for pet in pets:
    for k, v in pet.items():
        print(k, ":", v.title())
    print("\t_____")

species : Dog
owner : Jen
name_pet : Chiko
	_____
species : Cat
owner : Sarah
name_pet : Lucifer
	_____
species : Rabbit
owner : Jen
name_pet : Bunny
	_____

In [2]:
favorite_number = {
    'person_1': {
        'name': 'kate',
        'number':[1, 2, 4],       #list
        
    },
    
    'person_2':{
        'name': 'sarah',
        'number':[13, 43, 5],
    },
    
    'person_3':{
        'name': 'albert',
        'number':[7, 9, 12],
    }
    
    
}
for person, info in favorite_number.items():
    for p_info in info.values():
        x = str(p_info)
        
    print(info['name'].title() + "\'s favorite numbers are ", info['number'])

Kate's favorite numbers are  [1, 2, 4]
Sarah's favorite numbers are  [13, 43, 5]
Albert's favorite numbers are  [7, 9, 12]

In [3]:
cities = {
    'moscow':{
        'country':'russia',
        'population':'144000000',
        'fact':'red square',
    },
    'yrevan':{
        'country':'armenia',
        'population':'3000000',
        'fact':'Cascade',
    },
    'paris':{
        'country':'france',
        'population':'67000000',
        'fact':'eiffel',
    }
}

for country, info_country in cities.items():
    print("\tInformation of ", country.title())
    for k,v in info_country.items():
        print(k + ' : ' + v.title())

	Information of  Moscow
country : Russia
population : 144000000
fact : Red Square
	Information of  Yrevan
country : Armenia
population : 3000000
fact : Cascade
	Information of  Paris
country : France
population : 67000000
fact : Eiffel