In [1]:
animals = ["dog", "cat", "elephant", "monkey"]
for animal in animals:
    print(animal)

dog
cat
elephant
monkey

In [2]:
for animal in animals:
    print("A %s would make a great pet"  %animal )
print("Any of these animals would make a great pet!")

A dog would make a great pet
A cat would make a great pet
A elephant would make a great pet
A monkey would make a great pet
Any of these animals would make a great pet!

In [3]:
lst_num = []
for i in range(1, 1000001):
    lst_num.append(i)
    
lst_num_min = min(lst_num)
lst_num_max = max(lst_num)
sum_lst_num = sum(lst_num) 
print(sum_lst_num)

500000500000

In [4]:
odd_num = [i for i in range(1,20,2) ]     # list comprehensions
odd_num

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [5]:
numbers = [i for i in range(3,31) if i % 3 == 0]
numbers

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [6]:
cube = [i**3 for i in range(1, 10)]
cube

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [7]:
print("The first three items in the list are:", cube[:4])
print("Three items from the middle of the list are:", cube[(len(cube)//2):len(cube)//2+3])
print("The last three items in the list are:", cube[:-4:-1])

The first three items in the list are: [1, 8, 27, 64]
Three items from the middle of the list are: [125, 216, 343]
The last three items in the list are: [729, 512, 343]

In [8]:
basic_foods = ("Apple sauce", "Fried fish", "Haystack", "Steamed clams", "Salisbury steak")   
for foods in basic_foods:
    print(foods)

Apple sauce
Fried fish
Haystack
Steamed clams
Salisbury steak

In [9]:
print("\tOld menu")
for foods in basic_foods:
    print(foods)
print("\tNew menu")    
basic_foods = ("Apple sauce",  "Haystack","Fajita", "Steamed clams", "Steak") 
for foods in basic_foods:
    print(foods)

	Old menu
Apple sauce
Fried fish
Haystack
Steamed clams
Salisbury steak
	New menu
Apple sauce
Haystack
Fajita
Steamed clams
Steak